/nbproject/private/
/libs/
/YandexDisk/nbproject/private/
/YandexDisk/lib/
/YandexDisk/build/
/YandexDisk/dist/
/plugins/
/config.json
/src/tk/breezy64/pantex/gui/*.otf
**/*.log
**/*.jar
/PantEX-backup/YandexDisk/build/
/PantEX-backup/YandexDisk/nbproject/private/
*.pantex
