/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2015, 12:01:21 AM
    Author     : icefairy64
*/

@font-face {
    font-family: "Fira Sans Book";
    src: url('FiraSans-Book.otf');
}

* {
    -fx-font-family: "Fira Sans Book";
    -fx-text-fill: seashell;
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, #5d5d62, #4a4a4d); 
}

.context-menu {
    -fx-background-color: #5d5d62;
}

.menu-item {
    -fx-background-color: #5d5d62;
}

.menu-item:hover {
    -fx-background-color: #707094;
}

.menu-item .arrow {
    -fx-background-color: seashell;
    -fx-border-width: 0px;
}

.separator .line {
    -fx-border-color: #4a4a4d;
    -fx-border-width: 0.5px;
}

.pane {
    -fx-background-color: #545458;
    -fx-border-color: #3d3d3f;
}

.pane-container {
    -fx-background-color: #3d3d40;
    -fx-border-color: #38383a;
}

.pane-transparent {
    -fx-background-color: transparent;
    -fx-border-color: #3d3d3f;
}

.pane-transparent > .viewport {
    -fx-background-color: transparent;
}

.pane-borderless {
    -fx-background-color: #545458;
    -fx-border-width: 0px;
}

.borderless {
    -fx-border-width: 0px;
}

.dialog-pane {
    -fx-background-color: #545458;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #585865;
    -fx-border-color: #4a4a52;
    -fx-border-width: 0px 0px 1px 0px;
}

.dialog-pane:header .header-panel .graphic-container {
    -fx-opacity: 0;
}

.dialog-pane:header .header-panel .label {
    -fx-text-fill: seashell;
}

.list-view {
    -fx-background-color: #3d3d3f;
}

.list-view .corner,
.scroll-view .corner {
    -fx-background-color: #3d3d3f;
    -fx-fill: #3d3d3f;
}

.cell:even {
    -fx-background-color: #3d3d3f;
}

.cell:odd {
    -fx-background-color: #4a4a4d;
}

.cell:selected {
    -fx-background-color: #707094;
}

.scroll-bar {
    -fx-background-color: #3d3d3f;
}

.scroll-bar .thumb {
    -fx-background-color: #606080;
}

.scroll-bar .decrement-button,
.scroll-bar .increment-button,
.scroll-bar .track,
.slider .track,
.combo-box .list-cell,
.text-field {
    -fx-background-color: #3d3d40;
}

.button, 
.menu-button, 
.slider .thumb,
.combo-box .arrow-button {
    -fx-background-color: linear-gradient(to bottom, #5d5d62, #4a4a4d);
    -fx-effect: dropshadow(gaussian, #8a9df2, 3, 0.1, 0, 0);
    -fx-effect: innershadow(gaussian, #8a9df2, 3, 0.1, 0, 0);
}

.menu-bar .menu-button {
    -fx-effect: none;
}

.button:hover, 
.menu-button:hover, 
.slider .thumb:hover,
.combo-box .arrow-button:hover{
    -fx-background-color: linear-gradient(to bottom, #606080, #5d5d7b);
    -fx-effect: dropshadow(gaussian, #8a9df2, 10, 0.3, 0, 0);
}

.menu-bar .menu-button:hover {
    -fx-effect: none;
}

.combo-box {
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}

.split-pane .split-pane-divider {
    -fx-background-color: #606080;
    -fx-scale-x: 0.5;
    -fx-border-color: #3d3d40;
}

.background {
    -fx-background-color: black;
}